@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap);
body {
  font-family: "Roboto Flex", sans-serif !important;
}

:root {
  --color-1: #4972ce;
  --color-2: #fffffe;
  --color-3: #047fd6;
  --color-4: #fffffe;
  --color-5: #ffffff;
  --color-6: #000000;
  --color-7: #ffffff;
  --color-8: #f9f9f9;
  --color-9: #afafaf;
  --color-10: #000000;
  --color-11: #cb1515;
  --color-12: #707070;
  --color-13: #169e30;
  --color-14: #ffffff;
  --color-15: #000000;
  --fs-1: 2.5rem;
  --fs-2: 2rem;
  --fs-3: 1.75rem;
  --fs-4: 1.5rem;
  --fs-5: 1.25rem;
  --fs-6: 1rem;
  --fs-7: 0.875rem;
  --fs-8: 0.75rem;
  --fs-9: 0.625rem;
  --fw-1: 100;
  --fw-2: 200;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  --fw-9: 900;
  --rounded-1: 1px;
  --rounded-2: 2px;
  --rounded-3: 3px;
  --rounded-4: 4px;
  --rounded-5: 5px;
  --rounded-6: 6px;
  --rounded-7: 7px;
  --rounded-8: 8px;
  --rounded-9: 9px;
  --rounded-10: 10px;
}

.fs-1 {
  font-size: var(--fs-1);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-4 {
  font-size: var(--fs-4);
}
.fs-5 {
  font-size: var(--fs-5);
}
.fs-6 {
  font-size: var(--fs-6);
}
.fs-7 {
  font-size: var(--fs-7);
}
.fs-8 {
  font-size: var(--fs-8);
}
.fs-9 {
  font-size: var(--fs-9);
}

.fw-1 {
  font-weight: var(--fw-1);
}
.fw-2 {
  font-weight: var(--fw-2);
}
.fw-3 {
  font-weight: var(--fw-3);
}
.fw-4 {
  font-weight: var(--fw-4);
}
.fw-5 {
  font-weight: var(--fw-5);
}
.fw-6 {
  font-weight: var(--fw-6);
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}
.color-5 {
  color: var(--color-5);
}
.color-6 {
  color: var(--color-6);
}
.color-7 {
  color: var(--color-7);
}
.color-8 {
  color: var(--color-8);
}
.color-9 {
  color: var(--color-9);
}
.color-10 {
  color: var(--color-10);
}
.color-11 {
  color: var(--color-11);
}
.color-12 {
  color: var(--color-12);
}
.color-13 {
  color: var(--color-13);
}
.color-14 {
  color: var(--color-14);
}

.bg-color-1 {
  background-color: var(--color-1);
}
.bg-color-2 {
  background-color: var(--color-2);
}
.bg-color-3 {
  background-color: var(--color-3);
}
.bg-color-4 {
  background-color: var(--color-4);
}
.bg-color-5 {
  background-color: var(--color-5);
}
.bg-color-6 {
  background-color: var(--color-6);
}
.bg-color-7 {
  background-color: var(--color-7);
}
.bg-color-8 {
  background-color: var(--color-8);
}
.bg-color-9 {
  background-color: var(--color-9);
}
.bg-color-10 {
  background-color: var(--color-10);
}
.bg-color-11 {
  background-color: var(--color-11);
}
.bg-color-12 {
  background-color: var(--color-12);
}
.bg-color-13 {
  background-color: var(--color-13);
}
.bg-color-14 {
  background-color: var(--color-14);
}

.border-color-1 {
  border-color: var(--color-1);
}
.border-color-2 {
  border-color: var(--color-2);
}
.border-color-3 {
  border-color: var(--color-3);
}
.border-color-4 {
  border-color: var(--color-4);
}
.border-color-5 {
  border-color: var(--color-5);
}
.border-color-6 {
  border-color: var(--color-6);
}
.border-color-7 {
  border-color: var(--color-7);
}
.border-color-8 {
  border-color: var(--color-8);
}
.border-color-9 {
  border-color: var(--color-9);
}
.border-color-10 {
  border-color: var(--color-10);
}
.border-color-11 {
  border-color: var(--color-11);
}
.border-color-12 {
  border-color: var(--color-12);
}
.border-color-13 {
  border-color: var(--color-13);
}
.border-color-14 {
  border-color: var(--color-14);
}

.rounded-1 {
  border-radius: var(--rounded-1);
}
.rounded-2 {
  border-radius: var(--rounded-2);
}
.rounded-3 {
  border-radius: var(--rounded-3);
}
.rounded-4 {
  border-radius: var(--rounded-4);
}
.rounded-5 {
  border-radius: var(--rounded-5);
}
.rounded-6 {
  border-radius: var(--rounded-6);
}
.rounded-7 {
  border-radius: var(--rounded-7);
}
.rounded-8 {
  border-radius: var(--rounded-8);
}
.rounded-9 {
  border-radius: var(--rounded-9);
}
.rounded-10 {
  border-radius: var(--rounded-10);
}

.hover-color-1:hover {
  color: var(--color-1);
}
.hover-color-2:hover {
  color: var(--color-2);
}
.hover-color-3:hover {
  color: var(--color-3);
}
.hover-color-4:hover {
  color: var(--color-4);
}
.hover-color-5:hover {
  color: var(--color-5);
}
.hover-color-6:hover {
  color: var(--color-6);
}
.hover-color-7:hover {
  color: var(--color-7);
}
.hover-color-8:hover {
  color: var(--color-8);
}
.hover-color-9:hover {
  color: var(--color-9);
}
.hover-color-10:hover {
  color: var(--color-10);
}
.hover-bg-color-1:hover {
  background-color: var(--color-1);
}
.hover-bg-color-2:hover {
  background-color: var(--color-2);
}
.hover-bg-color-3:hover {
  background-color: var(--color-3);
}
.hover-bg-color-4:hover {
  background-color: var(--color-4);
}
.hover-bg-color-5:hover {
  background-color: var(--color-5);
}
.hover-bg-color-6:hover {
  background-color: var(--color-6);
}
.hover-bg-color-7:hover {
  background-color: var(--color-7);
}
.hover-bg-color-8:hover {
  background-color: var(--color-8);
}
.hover-bg-color-9:hover {
  background-color: var(--color-9);
}
.hover-bg-color-10:hover {
  background-color: var(--color-10);
}
