.product-detail .product-related__item:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}
.product-detail .product-related__item:hover > .product-related__image img {
  transform: scale(1.1);
}
.product-detail .product-related__image img {
  transition: all 0.3s ease-in-out;
}
